# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# IntelliJ Project Files
.idea/
npm-cache.iml


# Tmp Directory
tmp/